<div class="media">
  <div class="media-body">
    <small>
      <%= topic.user.name %> topic created <%= time_ago_in_words(topic.created_at) %> ago
      <% if user_is_authorized_for_topics? %>
        | <%= link_to "Delete", [@topic, topic], method: :delete %>
      <% end %>
    </small>
    <p><%= topic.body %></p>
  </div>
</div>
