<div class="media">
  <div class="media-body">
    <small>
      <%= post.user.name %> posted <%= time_ago_in_words(post.created_at) %> ago
      <% if user_is_authorized_for_post?(post) %>
        | <%= link_to "Delete", [@post, post], method: :delete %>
      <% end %>
    </small>
    <p><%= post.body %></p>
  </div>
</div>
